html {
    font-size: 17px;
}

body {
    background: url("../img/bg1.jpeg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 20px;
    padding: 25px 0;
    text-align: center;
    background-color: bisque;
}

#formHolder {
    text-align: center;
}

.form {
    font-size: 25px;
    max-width: 500px;
    display: inline-block;
    margin: 20px 0 20px 0;
    text-align: center;
    background-color: bisque;
    border-radius: 5px;
    padding: 10px;
}

.name {
    font-size: 30px;
    margin: 0;
}

#error {
    color: red;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.headline {
    margin: 0;
    padding: 0 0 0 0;
    font-size: 4rem;
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    background-color: RGBA(255,255,255,.2);
    text-align: center;
}

input[type="submit"] {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px;
}

input {
    margin: 10px ;
    font-size: 2rem;
    outline: none;
    width: 330px;
}

.container {
    width: 1100px;
    overflow: auto;
    font-size: 22px;
}

ul {
    padding: 0 0 0 10%;
    overflow: auto;
    align-content: center;
}

.holder {
    display: inline-block;
    float: left;
    margin: 0 auto;
    overflow: auto;
    max-width: 270px;
    min-width: 300px;
}

li {
    margin: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    list-style-type: none;
    height: 180px;
    border: 3px black solid;
    box-shadow: RGBA(0, 191, 255, .6) -8px 7px;
}

.titles {
    display: inline-block;
    font-size: 2.5rem;
    background-color: transparent;
    height: 60px;
}

.id {
    display: none;
}

#horse {
    position: relative;
    margin-top: 10px;
    padding: 10px 0 0 10px;
}

::placeholder {
    opacity: 1;
    padding-left: 10px;
    text-align: center;
}

@media only screen and (max-width: 1366px) {
    .container {
        width: 1000px; }
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 760px; }

    .holder {
        width: 25%;
        min-width: 200px;
    }

    li {
        height: 200px;
        font-size: 12px;
    }

}

@media only screen and (max-width: 768px) {
    .container {
        width: 660px;
    }

    body {
        background-position: center;
        height: 1080px; }


}

@media only screen and (max-width: 480px) {
    .container {
        width: 320px;
    }



}



